.media-hub
{
	min-height: 90%;
	text-align: center;
}

.name
{
	font-weight: 700;
	font-size: 80px;
	text-align: center;
	cursor: pointer;

	display: inline-block;
	transition: color 0.5s ease;
}

.name a:link, .name a:visited, .name a:active
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #4a4a4d;
	text-decoration: none;

	transition: color 0.4s ease;
}
.name:hover {color: #aaaaad;}

.menu
{
	font-weight: 400;
	font-size: 30px;
	text-align: center;

	display: inline-block;
}

.menu-item
{
	display: inline-block;
	min-width: 200px;
	cursor: pointer;

	transition: color 0.4s ease;
}

.menu-item.about:after {content: "About";}
.menu-item.follow:after {content: "Follow";}
.menu-item.contact:after {content: "Contact";}

.menu-item:hover{color: #aaaaad;}

.self-image
{
	background-image: url('/assets/img/selfimage-button.png');
	width: 200px;
	height: 200px;
	margin: 20px auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-filter: drop-shadow(0px 8px 5px rgba(0,0,0,0.5));
}

.detail-wrapper
{
	margin: 30px auto;
	max-width: 1000px;
}

.detail-label
{
	font-size: 24px;
	height: 30px;
}

.detail-label.default:after {content: "Select or filter by category.";}
.detail-label.linkedin:after {content: "Connect to me on LinkedIn.";}
.detail-label.facebook:after {content: "Friend me on Facebook.";}
.detail-label.github:after {content: "Fork me on GitHub.";}
.detail-label.email:after {content: "Send me your story.";}
.detail-label.flickr:after {content: "Explore me on Flickr.";}
.detail-label.twitter:after {content: "Follow me on Twitter.";}
.detail-label.portfolio:after {content: "Review my previous work.";}

.i-button
{
	display: inline-block;
	width: 175px;
	height: 175px;
	margin: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: -webkit-filter 0.2s ease;
}
.i-button.linkedin {background-image: url('/assets/img/linkedin-button.png');}
.i-button.facebook {background-image: url('/assets/img/facebook-button.png');}
.i-button.github {background-image: url('/assets/img/github-button.png');}
.i-button.email {background-image: url('/assets/img/email-button.png');}
.i-button.flickr {background-image: url('/assets/img/flickr-button.png');}
.i-button.twitter {background-image: url('/assets/img/twitter-button.png');}
.i-button.portfolio {background-image: url('/assets/img/portfolio-button.png');}
.i-button:hover {-webkit-filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.5));}
.i-button a
{
	width: 100%;
	height: 100%;
	display: block;
}

.hidden
{
	display: none;
}

/* Responsive Styles -- Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
{
	.i-button
	{
		width: 90px;
		height: 90px;
	}
}
